{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-bitwise": 2,
    "no-extend-native": 2,
    "block-scoped-var": 2,
    "no-iterator": 2,
    "no-sequences": 2,
    "curly": 2,
    "no-eq-null": 2,
    "no-use-before-define": 0,
    "new-cap": 2,
    "no-caller": 2,
    "linebreak-style": 2,
    "comma-dangle": 0,
    "space-in-parens": 0,
    "max-len": [
      2,
      120
    ],
    "camelcase": 0,
    "array-bracket-spacing": 0,
    "quotes": 0,
    "lines-around-comment": 0
  }
}

