body {
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button.cp-btn-disabled {
  cursor: not-allowed;
}

/* Also apply rule to clicked cp-btns which are disabled so that appearance
 * does not change
 */
button, button.cp-btn-disabled:active {
  background: linear-gradient(to top right, #ccc, #eee);
  border: 1px solid #777;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #777;
  color: #000;
}

button {
  margin-top: 25px;
  cursor: pointer;
}

button:active {
  background: linear-gradient(to bottom right, #bbf, #88c);
  box-shadow: none;
  color: #fff;
}

table, th, td {
  border-collapse: collapse;
}

table:hover {
  cursor: default;
}

th, td {
  padding: 5px 20px;
  text-align: left;
}

tr:nth-child(even) {
  background: #DDD;
}

tr:nth-child(odd) {
  background: #FFF;
}

.invisible {
  display: none;
}

.monospace {
  font-family: monospace;
}

.floatright {
  float: right;
  margin-top: 2px;
}

.big-button {
  font-size: 20px;
}

.cp-btn {
  margin-top: 0px;
}

.disabled-row {
  opacity: 0.65;
}

.msg {
  display: inline-block;
  padding: 0px 8px;
  margin: 5px;
}

.msg:hover {
  cursor: pointer;
}

.error-msg {
  border: 2px solid red;
  background-color: #fdd;
}

.success-msg {
  border: 2px solid green;
  background-color: #dfd;
}

.msg-div {
  text-align: center;
}

.revoke-link {
  text-decoration: underline;
  color: #00f
}

.revoke-link:hover {
  cursor: pointer;
}

#page {
  margin: auto;
  width: 70%;
  position: relative;
}

#token-table {
  width: 100%;
}

#login-msg {
  float: left;
}

#show-token-form-button {
  margin-top: 25px;
}

#floating-div {
  box-shadow: 1px 1px 3px #777;
  position: absolute;
  left: 30%;
  top: 130px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  z-index: 1;
  background-color: #fff;
  height: 130px;
  width: 20%;
}

#close-token-form-button {
  margin: 3px 0px;
  width: 30px;
}

#creation-reason {
  width: 130px;
  resize: none;
}
