<table id="token-table">
  <colgroup>
    <col style="width: 180px">
    <col>
    <col>
    <col style="width: 105px">
    <col style="width: 100px">
  </colgroup>
  <tr id="table-headers">
    <th>Username</th>
    <th>Token</th>
    <th></th><!-- Copy tokens buttons go in this column -->
    <th>Status</th>
    <th>Revoke</th>
  </tr>
</table>
