<div id="floating-div" class="invisible">
  <button
    type="button"
    id="close-token-form-button">
      X
  </button>
  <br>
  <button
    type="button"
    class="big-button"
    id="create-token-button">
      Create Token
  </button>
</div>
