<div id="floating-div">
  <button
    type="button"
    class="floatright"
    id="close-token-form-button">
      X
  </button>
  <button
    type="button"
    class="big-button"
    id="create-token-button">
      Create Token
  </button>
</div>
