<div id="welcome">
  <span>
    <!-- TODO: ajax to find logged in user -->
    <h3 id="login-msg"></h3>
    <button
      type="button"
      class="floatright big-button"
      id="show-token-form-button">
        Create a new token
    </button>
  </span>
  <br/><br/>
  <div>
    <h2>Authorisation tokens for npg_ranger</h2>
    <h4>Create a new token or revoke unused tokens.</h4>
  </div>
</div>
