{
  "globals": {
    "describe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "expect": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterAll": true,
    "afterEach": true,
    "fail": true,
    "spyOn": true
  }
}
